@import "tailwindcss";
@plugin "daisyui" {
  /* Aquí definimos los temas que cargará el proyecto */
  themes: lofi, black; 
}

/* Forzamos que el fondo y el texto sigan al tema de DaisyUI */
html, body, #root {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  min-height: 100vh;
  transition: background-color 0.3s ease; /* Para que el cambio no sea brusco */
}